
/* ------------------------------------------------------------------ */
/* ------------------- PLANET HEATING VISUALIZATION ----------------- */

.line {
	fill: none;
	stroke: url(#temperature-gradient);
	stroke-width: 1.5px;
}
.line_context {
	fill: none;
	stroke: url(#temperature-gradient-context);
	stroke-width: 1.5px;
}

#mean_line {
	stroke: #aaa;
	stroke-width: 2px;
}

.axis_title {
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}

#planetHeatingTooltip {
	font-weight: bold;
	color: #222;
	text-shadow: #f5f5f5 0 1px 0;
	text-anchor: middle;
}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}
