body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
/* ------------------------------------------------------------------ */
/* ----------------------------------------------- MAIN FRAME ------- */

.dataviz {
  width: 100%;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------ DATA VIZs ------- */